*{
   margin: 0;
}
.body{
   margin: 0;
   border: 0;
   padding: 0;
   width: 100vw;
}
body {
   overflow-x: hidden;
 }
 
.navbar {
   width: 100%;
   max-width: 1350px; 
   margin: 0 auto;  
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0.5rem 1rem;
   position: relative;
   top: -27vh;
 }
 .tes svg {
   width: 7rem;
 }
 .bars {
   display: flex;
   gap: 2rem;
   list-style-type: none;
 }

 .bars li a {
   text-decoration: none;
   color: black;
   font-size: 14px;
   font-weight: 500;
 }
 .lo {
   display: flex;
   gap: 1rem;
 }
 .lo svg {
   width: 1.5rem;
   height: 1.5rem;
   fill: black;
   position: relative;
   right: 30px;
 }

        